<a href="https://colab.research.google.com/github/otse-lemi/Hamoye/blob/master/HamoyeStageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.metrics import mean_squared_error

In [2]:
energy_data = pd.read_csv("energydata_complete.csv")
energy_data

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...       5.30  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...       5.20  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...       5.10  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...       5.00  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...       4.90  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
10360  2016-03-23 15:40:00          90       0  ...       5.70  14.428888  14.428888
10361  2016-03-23 15:50:00         100      10  ...       5.85   0.123295   0.123295
10362  2016-03-23 16:00:00         120       0  ...       6.00  48.436756  48.436756
10363  2016-03-23 16:10:00         120       0  ...       5.90  38.521680  38.521680
10364  2016-03-23 16:20:00         110       0  ...        NaN        NaN        NaN

[10365 rows x 29 columns]

In [29]:
energy_data.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             1
RH_7           1
T8             1
RH_8           1
T9             1
RH_9           1
T_out          1
Press_mm_hg    1
RH_out         1
Windspeed      1
Visibility     1
Tdewpoint      1
rv1            1
rv2            1
dtype: int64

In [21]:
X = pd.DataFrame(energy_data['T2'])
y = pd.DataFrame(energy_data['T6'])
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)
linear_model.score(x_test,y_test)
predict_linear_model = linear_model.predict(x_test)
predicted_values = linear_model.predict(x_test)


print('r2 score on training set:', linear_model.score(x_train,y_train))
print('r2 score on test set:', linear_model.score(x_test,y_test))
#print(predicted_values)

r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)
print(r2_score)
print('Mean Absolute Error on predicted value:', mean_absolute_error(y_test,predict_linear_model))

r2 score on training set: 0.16756263593049225
r2 score on test set: 0.17280028464258199

TypeError: ignored

In [23]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)
print(rss)

T6    40352.817163
dtype: float64

In [26]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)
print(rmse)

3.6021080449729017

In [27]:
scaler = MinMaxScaler()
features = energy_data.drop(columns=['date', 'lights'])
standardised_df = pd.DataFrame(scaler.fit_transform(features), columns=features.columns)
target = standardised_df['T6']

#Split the dataset
x_train, x_test, y_train, y_test = train_test_split(standardised_df.drop('T6', axis=1), target, test_size=0.3, random_state=42)

#model
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)
linear_model.score(x_test,y_test)
predict_linear_model = linear_model.predict(x_test)

print('r2 score on training set:', linear_model.score(x_train,y_train))
print('r2 score on test set:', linear_model.score(x_test,y_test))
print('Mean Absolute Error on predicted value:', mean_absolute_error(y_test,predict_linear_model))

ValueError: ignored